<div class="form-overlay">
  <div class="form-container">
    <div class="form-logo">
      <img src="assets/images/pipaBotLogo.png" alt="PipaBot Logo">
    </div>

    <h2 class="form-title">Iniciar Sesión</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-item" [class.has-error]="isSubmitted && loginForm.get('username')?.invalid">
        <input type="text" formControlName="username" placeholder="Usuario" />
      </div>

      <div class="form-item" [class.has-error]="isSubmitted && loginForm.get('password')?.invalid">
        <input type="password" formControlName="password" placeholder="Contraseña" />
      </div>

      <div class="form-item">
        <re-captcha
  [siteKey]="'6LeByy4rAAAAADXivTB2IMw2G8eM4yeededgJjee'"
  (resolved)="onCaptchaResolved($event)">
</re-captcha>

      </div>

      <div class="form-item">
        <button type="submit" class="form-button">Enviar</button>
      </div>
    </form>

    <p class="text-center mt-3">
      ¿No tienes cuenta?
      <a routerLink="/register" class="btn btn-link text-primary p-0">Regístrate</a>
    </p>
  </div>
</div>
