<div class="form-overlay">
    <div class="form-container">
      <div class="form-logo">
        <img src="assets/images/pipaBotLogo.png" alt="PipaBot Logo">
      </div>
  
      <h2 class="form-title">Crear cuenta</h2>
  
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-item" [class.has-error]="isSubmitted && registerForm.get('username')?.invalid">
          <input type="text" formControlName="username" placeholder="Usuario" />
        </div>
  
        <div class="form-item" [class.has-error]="isSubmitted && registerForm.get('password')?.invalid">
          <input type="password" formControlName="password" placeholder="Contraseña" />
        </div>
  
        <div class="form-item" [class.has-error]="isSubmitted && registerForm.get('confirmPassword')?.invalid">
          <input type="password" formControlName="confirmPassword" placeholder="Confirmar Contraseña" />
        </div>
  
        <div class="form-item">
          <button type="submit" class="form-button">
            <span *ngIf="!loading">Registrarse</span>
            <div class="form-loading" *ngIf="loading">
              <span></span><span></span><span></span>
            </div>
          </button>
        </div>
      </form>
    </div>
  </div>
  